mymainapitest/target/classes/common-properties.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <flow name="common-properties">
        <set-session-variable variableName="correlationId" value="#[message.rootId]" doc:name="Set correlationId"/>

        <set-session-variable variableName="x-reference-gw-correlationId" value="#[message.inboundProperties['x-reference-gw-correlationId']]" doc:name="Set x-reference-gw-correlationId"/>

        <foreach collection="#[message.inboundProperties.'http.query.params'.entrySet()]" doc:name="For Each Inbound Property">
            <set-session-variable variableName="#[payload.key]" value="#[payload.value]" doc:name="Set Session Variable"/>
        </foreach>
    </flow>
</mule>